html {
    margin: 0%;
    height: 100%;
    padding: 0%;
    overflow: hidden;
    -webkit-touch-callout: none;
    user-select: none;
}

* {
    margin: 0;
    font-family: Arial;
    -webkit-user-drag: none;
}

body {
    background: linear-gradient(45deg, whitesmoke, tomato) no-repeat fixed;
    background-position: 0% 100%;
    height: 100%;
}

button {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.listContainer {
    width: 20%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.4);
    float: left;
    position: relative;

    margin-left: 3%;
    margin-top: 5%;
    margin-bottom: 5%;

    border-radius: 30px / 30px;
}

#channelButton {
    transition-duration: 0.4s;
    display: block;
}

#channelButton:hover {
    transition-duration: 0.4s;
    transform: translateY(-5%);
}

#channelButton:active {
    transition-duration: 0.4s;
    transform: scale(95%);
}

#listChannelName {
    width: 50%;
    margin-top: 9%;
    font-weight: 70%;

    display: inline-block;
}

#listProfileImg {
    width: 20%;
    height: 20%;
    display: inline-block;
    vertical-align: top;
    margin: 2%;
    margin-top: 2.5%;

    border-radius: 20px / 20px;
}

#listProfileImg img {
    width: 100%;
    height: 100%;

    border-radius: 50% / 50%;
}

#listDeleteButton {
    position: absolute;
    margin-top: 8%;
}

.container {
    width: 70%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.4);
    float: left;
    position: relative;

    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;

    border-radius: 30px / 30px;
}

.editButtons {
    text-align: center;
}

.addButton, .removeButton {
    text-align: center;
    padding-top: 30px;
    display: inline-flex;
}

.addButton {
    margin-right: 10%;
}

.removeButton {
    margin-left: 10%;
}

#addButtonImg, #removeButtonImg {
    opacity: 0.1;
}

#channelButton {
    width: 93%;
    background-color: whitesmoke;
    
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    
    margin-top: 3%;
    margin-left: 5%;

    border-radius: 20px / 20px;
}

#tuberList {
    width: 98%;
    height: 89%;
    overflow-y: auto;
}

li {
    list-style: none;
}

#noList, #pleaseSelect {
    margin-top: 5%;
    text-align: center;
    color: black;
}

.addTuberPopup, .removeTuberPopup {
    display: none;
    position: absolute;
    background-color: white;
    text-align: center;

    min-width: 20%;
    margin-left: 3%;
    margin-top: 8%;

    border-radius: 10px / 10px
}

#addTuberPopupText, #removeTuberPopupText {
    display: inline-block;
    float: left;
    margin: 3%;
}

#addTuberPopupForm input {
    width: 60%;
    margin-left: 2%;
    margin-bottom: 5%;
}

#addTuberPopupExit, #removeTuberPopupExit {
    margin-top: 2%;
    float: right;
    display: inline-block;
}

#removeTuberPopupList {
    width: 98%;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 3%;
}

#removeTuberPopupListContent {
    transition-duration: 0.4s;
    text-align: center;
    display: block;
    margin: 3%;
    min-width: 95%;
    border-radius: 20px / 20px;

    background-color: rgba(255, 99, 71, 0.25);
}

#removeTuberPopupListContent:hover {
    transition-duration: 0.4s;
    transform: translateY(-9%);
}

#removeTuberPopupListContent p {
    padding: 2%;
    font-size: large;
    font-weight: 10%;
}

#infoChannelName {
    font-size: 150%;
    margin-top: 3%;
    display: inline-block;
}

#infoProfileImg {
    vertical-align: top;
    position: relative;
    display: inline-block;

    margin: 3%;
    margin-right: 2%;
}

#infoProfileImg img {
    border-radius: 50% / 50%;
}

#infoSubscriber {
    position: absolute;
}

#infoLoading {
    display: none;
}

#addTuberLoading {
    display: none;
}

#showLoading {
    display: block;
}

.infoAbout {
    float: right;
    display: inline-block;
    width: 20%;
    height: 17%;

    margin: 2%;
}

#infoAboutRoot {
    background-color: rgba(255, 255, 255, 0);
}

#infoAboutMoreButton {
    margin: 0%;
    padding: 0%;
    margin-right: 20%;
    background: rgba(255, 99 ,71, 0);
}

#infoAboutMorePopup {
    display: none;
    position: absolute;
    width: 20%;
    background-color: whitesmoke;
    border-radius: 20px / 20px;

    margin-left: 77%;
    margin-top: 8%;
}

#infoAboutMorePopupExitButton {
    margin-left: 3%;
    margin-top: 3%;
}

#infoAboutmore {
    margin: 3%;
}

#infoAboutImg, #infoAbout, #infoTotalViewImg, #infoTotalView, #infoLocationImg, #infoLocation, #infoJoinDateImg, #infoJoinDate {
    display: inline-block;
    vertical-align: middle;
}

#infoAbout, #infoTotalView, #infoLocation, #infoJoinDate {
    margin: 2.5%;
}

#infoAbout {
    white-space: nowrap;
}

.infoRoot {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 99 ,71, 0.6);
    border-radius: 5px;
}

#infoTuberLoading {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*애니메이션*/
.showPopup {
    animation-name: showPopup;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.hidePopup {
    animation-name: hidePopup;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes showPopup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hidePopup {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
