html {
    margin: 0%;
    height: 100%;
    padding: 0%;
    overflow: hidden;
}

* {
    margin: 0;
    font-family: Arial;
}

@font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(45deg, whitesmoke, tomato) no-repeat fixed;
    background-position: 0% 100%;
    height: 100%;
}

button {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.listContainer {
    width: 20%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.4);
    float: left;
    position: relative;

    margin-left: 3%;
    margin-top: 5%;
    margin-bottom: 5%;

    border-radius: 30px / 30px;
}

#channelButton {
    display: block;
}

#listChannelName {
    width: 50%;

    display: inline-block;
}

#listProfileImg {
    width: 20%;
    height: 20%;
    display: inline-block;
    vertical-align: top;
    margin: 2%;
    margin-top: 2.5%;

    border-radius: 20px / 20px;
}

#listProfileImg img {
    width: 100%;
    height: 100%;

    border-radius: 20px / 20px;
}

.container {
    width: 70%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.4);
    float: left;

    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;

    border-radius: 30px / 30px;
}

.addButton {
    text-align: center;
    padding-top: 30px;
}

#addButtonImg {
    opacity: 0.1;
}

#channelButton {
    width: 90%;
    background-color: whitesmoke;
    
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    
    margin-top: 3%;
    margin-left: 5%;

    border-radius: 20px / 20px;
}

li {
    list-style: none;
}

#noList {
    margin-top: 5%;
    text-align: center;
    color: black;
}

.addTuberPopup {
    visibility: hidden;
    position: absolute;
    background-color: white;

    width: 19.8%;
    height: 75px;
    margin-left: 3%;
    margin-top: 8%;

    border-radius: 10px / 10px
}

#addTuberPopupText {
    display: inline-block;
    margin: 3%;
}

#addTuberPopupForm input {
    width: 60%;
    margin-left: 2%;
    margin-bottom: 5%;
}

#addTuberPopupExit {
    margin-top: 2%;
    margin-left: 54%;
    display: inline-block;
}

#infoChannelName {
    font-size: 150%;
    margin-top: 3%;
    display: inline-block;
}

#infoProfileImg {
    vertical-align: top;
    position: relative;
    display: inline-block;

    margin: 3%;
    margin-right: 2%;
}

#infoProfileImg img {
    border-radius: 50% / 50%;
}

#infoSubscriber {
    position: absolute;
    right: 59.9%;
    top: 19.5%;
}

#infoLoading {
    display: none;
}

#addTuberLoading {
    display: none;
}

#showLoading {
    display: block;
}

.infoAbout {
    float: right;
    display: inline-block;
    width: 20%;
    height: 17%;

    margin: 2%;
}

#infoAboutRoot {
    background-color: rgba(255, 255, 255, 0);
}

#infoAboutMoreButton {
    margin: 0%;
    padding: 0%;
    margin-right: 20%;
    background: rgba(255, 99 ,71, 0);
}

#infoAboutMorePopup {
    display: none;
    position: absolute;
    width: 20%;
    background-color: whitesmoke;
    border-radius: 20px / 20px;

    margin-left: 77%;
    margin-top: 8%;
}

#infoAboutMorePopupExitButton {
    margin-left: 3%;
    margin-top: 3%;
}

#infoAboutmore {
    margin: 3%;
}

#infoAboutImg, #infoAbout, #infoTotalViewImg, #infoTotalView, #infoLocationImg, #infoLocation, #infoJoinDateImg, #infoJoinDate {
    display: inline-block;
    vertical-align: middle;
}

#infoAbout, #infoTotalView, #infoLocation, #infoJoinDate {
    margin: 2.5%;
}

.infoRoot {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 99 ,71, 0.6);
    border-radius: 5px;
}
