.settingPopup {
    text-align: center;
}

#settingPopupList {
    width: 98%;
    overflow-y: scroll;
    margin-bottom: 3%;
}

#settingPopupExit {
    margin-top: 1%;
}

#setting {
    margin-bottom: 3%;
}

#settingTitle, #settingInput {
    vertical-align: middle;
    display: inline-block;
    margin-left: 3%;
}

#settingInput {
    float: right;
}

#settingInput input:focus {
    outline: none;
}

#resetSetting, #resetAll, #backupAll, #showInfo {
    display: inline-block;
    margin: 2%;
}

#resetSettingImg, #resetAllImg, #backupAllImg, #showInfoImg {
    transition-duration: 0.4s;
}

#resetSettingImg:hover, #resetAllImg:hover, #backupAllImg:hover, #showInfoImg:hover {
    transition-duration: 0.4s;
    transform: translateY(-10%);
}

#resetSettingImg:active, #resetAllImg:active, #backupAllImg:active, #showInfoImg:active {
    transition-duration: 0.4s;
    transform: scale(80%);
}

.checkResetAllPopup {
    margin-top: 22.7%;
    vertical-align: middle;
    overflow-y: auto;
}

#checkResetAllPopupYes, #checkResetAllPopupNo {
    transition-duration: 0.4s;
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 1%;
}

#checkResetAllPopupText {
    margin-top: 3%;
    margin-bottom: 2%;
}

#checkResetAllPopupYes {
    margin-right: 10%;
}

#checkResetAllPopupNo {
    margin-left: 10%;
}

#checkResetAllPopupYes:hover, #checkResetAllPopupNo:hover {
    transition-duration: 0.4s;
    transform: translateY(-6%);
}

#checkResetAllPopupYes:active, #checkResetAllPopupNo:active {
    transition-duration: 0.4s;
    transform: scale(80%);
}

.backupCompletePopup {
    margin-top: 22.7%;
}

#backupCompletePopupText {
    margin: 2%;
}

.backupCompletePopup p {
    width: auto;
    margin: 2%;
    white-space: nowrap;
}