.settingPopup {
    text-align: center;
}

#settingPopupList {
    width: 98%;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 3%;
}

#settingPopupExit {
    margin-top: 1%;
}

#setting {
    margin-bottom: 3%;
}

#settingTitle, #settingInput {
    vertical-align: middle;
    display: inline-block;
    margin-left: 3%;
}

#settingInput {
    float: right;
}

#resetSetting {
    margin: 2%;
}

#resetSettingImg {
    transition-duration: 0.4s;
}

#resetSettingImg:hover {
    transition-duration: 0.4s;
    transform: translateY(-10%);
}

#resetSettingImg:active {
    transition-duration: 0.4s;
    transform: scale(80%);
}