.infoStream {
    display: block;
    width: 35%;
    height: 35%;
    background-color: rgba(255, 255, 255, 0.6);

    margin-left: 3%;
    border-radius: 30px / 30px;
}

#infoStreamRoot {
    width: 100%;
    height: 90%;
}

#infoStreamList {
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
    height: 80%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
}

#stream:not(:last-child) {
    margin-right: 5%;
    flex-shrink: 1;
}

#streamThumbnail {
    height: 100%;
    border-radius: 10px;
}

#stream {
    width: 120%;
    height: 97%;
}

#infoStreamTitle {
    margin-left: 5%;
    margin-top: 4%;
}

#infoStreamTitle h2 {
    color: rgba(255, 99 ,71, 0.8);

    text-align: left;
}