.infoVideos {
    width: 56%;
    height: 73%;
    background-color: rgba(255, 255, 255, 0.6);

    border-radius: 30px / 30px;
}

#infoVideosRoot {
    width: 100%;
    height: 90%;
}

#infoVideoTitle {
    margin-left: 5%;
}

#infoVideoTitle h2 {
    color: rgba(255, 99 ,71, 0.8);
    text-align: left;
}

#infoVideosList {
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: show;
    display: flex;
    flex-wrap: wrap;
}

#videoThumbnail {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#video {
    transition-duration: 0.4s;
    margin-top: 1%;
    width: 32.3%;
    height: 25.7%;
}

#video:hover {
    transition-duration: 0.4s;
    transform: translateY(-2%);
}

#video:active {
    transition-duration: 0.4s;
    transform: scale(95%);
}

#video:not(:last-child) {
    margin-right: 1%;
}

.onlyVideos {
    width: 95%;
    margin-left: 2.5%;
}

.onlyVideo {
    width: 15.66% !important;
    height: 23% !important;
}

.onlyVideosList {
    width: 97%;
    margin-left: 1.5%;
}

.onlyVideosTitle {
    font-size: large;
    margin-left: 2.5%;
}

.showVideo {
    animation: showVideo;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transition-duration: 0.4s;
}

/*애니메이션*/
@keyframes showVideo {
    0% {
        opacity: 0;
        transform: translateY(5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}