.youtubePlayer {
    display: none;
    z-index: 9999;
    position: absolute;
    background-color: white;
    border-radius: 25px 0px 0px 25px;

    width: 90vw;
    height: 86vh;
    padding-top: 9vh;
    padding-bottom: 5vh;
    margin-left: 10vw;
}

#youtubePlayerExit {
    position: absolute;
    width: 2vw;
    height: 2vh;
    margin-top: 40vh;
    margin-left: 0.6vw;
    transition-duration: 0.4s;
}

#youtubePlayerExit img {
    transform: rotate(180deg);
    width: 100%;
    height: auto;
}

#youtubePlayerExit:active {
    transition-duration: 0.4s;
    transform: scale(90%);
}

#player {
    background-color: black;
    width: 69vw;
    height: 69vh;

    margin-left: 3vw;
    border-radius: 20px / 20px;
}

#youtubePlayerTitle, #youtubePlayerInfo {
    margin-left: 3vw;
    margin-top: 1vh;
    width: 69vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

#youtubePlayerVideoList {
    position: absolute;
    float: left;
    width: 16.8vw;
    height: 82vh;
    margin-left: 73vw;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px / 10px;
}

#youtubePlayerVideo {
    margin-bottom: 2%;
    transition-duration: 0.4s;
}

#youtubePlayerVideo:active {
    transition-duration: 0.4s;
    transform: scale(95%);
}

#youtubePlayerVideo img {
    width: 98%;
    height: auto;
    border-radius: 10px / 10px;
}

.showPlayer {
    animation-name: showPlayer;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

.hidePlayer {
    animation-name: hidePlayer;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

@keyframes showPlayer {
    0% {
        margin-left: 100vw;
    }
    100% {
        margin-left: 10vw;
    }
}

@keyframes hidePlayer {
    0% {
        margin-left: 10vw;
    }
    100% {
        margin-left: 100vw;
    }
}